@charset "UTF-8";

body {
  background-image:
    linear-gradient(to bottom right, darkblue, lightblue, white);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 60px;
  color: darkblue;
  margin: 50px;
}

span.a {
  background-image:
    linear-gradient(to top left, darkblue, lightblue, white);
  text-shadow: 0px -3px gray;
  border: solid lightblue;
  padding: 10px;
}

div {
  text-align: center;
}

a {
  background-color: rgb(201, 40, 156);
  padding: 15px;
  color: black;
  border: solid 3px rgb(196, 81, 178);
  box-shadow: 0px 6px rgb(112, 13, 99);
  border-radius: 12px;
  text-decoration: none;
  cursor: ew-resize;
  transform: rotate(20deg);
}

a:hover{
  background-color: rgb(187, 66, 161);
}

a:active{
  background-color: rgb(187, 66, 161);
  box-shadow: 0px 3px rgb(112, 13, 99);
}

div:active{
  transform: translateY(3px);
}

.c{
  color: red;
}
